# Python cache
__pycache__/
*.pyc

# ADK environment files
.env
*.sqlite
*.db
*.duckdb
!database/test_function.duckdb
*.cache

# OS junk
.DS_Store

# Logs
*.log

# Virtual environments (if created locally)
venv/
.env/
.adk/

# Jupyter checkpoints (if adding notebooks later)
.ipynb_checkpoints

# Figures made by bot (might want to add some later)
figures/*
